*,*::before, *::after, *:before, *:after{ /*Aplicas a todos los elementos
    y a todos los pseudo elementos*/
    box-sizing: border-box;
}

.box {
    width: 25%;
    background-color: salmon;
    color: white;
    border: 1px solid blue;
    float: left;
}
